* text=auto

.gitignore export-ignore
.gitattributes export-ignore
.github/ export-ignore

assets/ export-ignore
README.md export-ignore
LICENSE export-ignore

*.cs export-ignore
*.cs.uid export-ignore